<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/security
                           http://www.springframework.org/schema/security/spring-security.xsd
                           
">
    <security:authentication-manager>
        <security:authentication-provider>
            <security:jdbc-user-service data-source-ref="dataSource"
                                        users-by-username-query="select username,CONCAT('{noop}',password) as password, enabled
                                                                  from users where username=?"
                                        authorities-by-username-query="select username,role from User_Role where username=?"/>
            
        </security:authentication-provider>
        
    </security:authentication-manager>
    <security:http pattern="/favicon.ico" security="none"/>

    
    <security:http auto-config="true" use-expressions="true">        
        <security:csrf disabled="true"/>
        
        <security:intercept-url pattern="/login" access="isAnonymous()"/>

        <security:intercept-url pattern="/users/*" access="hasAnyRole('ROLE_USER,ROLE_ADMIN')"/>
        <security:intercept-url pattern="/admin/*" access="hasAnyRole('ROLE_ADMIN')"/>
       
        <security:form-login login-page="/?login_error=1" 
                             login-processing-url="/j_spring_security_check" 
                             username-parameter="username"
                             password-parameter="password"
                             authentication-success-handler-ref="myAuthenticationSuccessHandler"
        />
        <security:logout invalidate-session="true" logout-url="/logout"  logout-success-url="/"/>
    </security:http>
    
    <bean id="myAuthenticationSuccessHandler"
          class="redirectLogin.MySimpleUrlAuthenticationSuccessHandler" />
    
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver"/>
        <property name="url" value="jdbc:mysql://localhost:3306/E_Commerce"/>
        <property name="username" value="root"/>
        <property name="password" value="ngay500k"/>
    </bean>
</beans>
